<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            食材在庫管理アプリ
        {% endblock %}
    </title>
    <link
        rel="stylesheet"
        href="{{ url_for('static', path='css/style.css') }}"
    >
</head>
<body>
    <header>
        <h1>食材在庫管理アプリ</h1>

        <nav
            class="main-navigation"
            aria-label="メインメニュー"
        >
            <a href="/">
                在庫一覧
            </a>

            <a href="/recipes">
                レシピ一覧
            </a>

            <a href="/recipes/history">
                調理履歴
            </a>

            <a href="/shopping-list">
                買うものリスト
            </a>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
